<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Question</title>
  </head>
  <body>
    <div id="question-container">

      <h3><%= @question.title %></h3>
      <p><%= @question.text %></p>
      <table>
        <tr>
          <td>
            <form action="/questions/<%=@question.id%>/votes/new/upvote" method="post">
              <input type="image" height="20" width="20" src="https://image.freepik.com/free-icon/thumbs-up-hand-outline_318-41813.jpg" alt="Upvote">
            </form>
          </td>
          <td>
            <form action="/questions/<%=@question.id%>/votes/new/downvote" method="post">
                <input type="image" height="20" width="20" src="https://image.freepik.com/free-icon/thumbs-down-hand-outline_318-41753.png">
            </form>
          </td>
          <td><%= Vote.vote_count(@question) %></td>
        </tr>
      </table>
    </div>

    <% if logged_in? %>
      <%= erb :"/comments/_new_question_comment", layout: false, locals: {questions: @question } %>
    <% end %>

    <div class="comments-container" id="question-comment-list">
      <h6>Comments:</h6>

      <table>
        <% @comments.each do |comment| %>
        <tr>
            <form action="/questions/<%=@question.id%>/comments/<%=comment.id%>/votes/new/upvote" method="post">
              <td><input type="image" height="20" width="20" src="https://image.freepik.com/free-icon/thumbs-up-hand-outline_318-41813.jpg" alt="Upvote"></td>
            </form>
            <form action="/questions/<%=@question.id%>/comments/<%=comment.id%>/votes/new/downvote" method="post">
              <td><input type="image" height="20" width="20" src="https://image.freepik.com/free-icon/thumbs-down-hand-outline_318-41753.png"></td>
            </form>
            <td><%= Vote.vote_count(comment) %></td>
          </td>
          <td>
            <%= comment.text %> by <%= comment.commenter.username %>
          </td>
          <td>
            <% if logged_in? && current_user_id  == comment.commenter_id %>
            <a href="/questions/<%= @question.id %>/comments/<%= comment.id %>/edit">Edit</a>
          </td>
          <td>
            <form class="delete-question-comment" action="/questions/<%= @question.id %>/comments/<%= comment.id %>" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <input class="button" type="submit" value="Delete">
            </form>
          </td>
            <% end %>
        </tr>
        <% end %>
      </table>

    </div>
    <br>
    <% if logged_in? %>
    <form method='get' action="/questions/<%=@question.id%>/answers/new">
      <input type="Submit" value="Post Your Answer">
    </form>
    <% end %>

    <% if logged_in? && @favorited_answer && current_user_id == @question.poster_id %>
      <h6><%= @question.poster.username %>'s favorite answer:</h6>
      <table>
        <tr>
          <td>
            <form method='post' action='/questions/<%= @favorited_answer.question_id %>/answers/<%= @favorited_answer.id %>/unfavorite'>
              <input type="hidden" name="_method" value="put">
              <input type="submit" value="Unfavorite">
            </form>
          </td>
          <td>
            <form action="/questions/<%=@favorited_answer.question_id%>/answers/<%=@favorited_answer.id%>/votes/new/upvote" method="post">
            <input type="image" height="42" width="42" src="https://image.freepik.com/free-icon/thumbs-up-hand-outline_318-41813.jpg" alt="Upvote">
            </form>
          </td>
          <td>
            <form action="/questions/<%=@favorited_answer.question_id%>/answers/<%=@favorited_answer.id%>/votes/new/downvote" method="post">
              <input type="image" height="42" width="42" src="https://image.freepik.com/free-icon/thumbs-down-hand-outline_318-41753.png">
            </form>
          </td>
          <td><%= Vote.vote_count(@favorited_answer) %></td>
          <td><%= @favorited_answer.text %></td>
          <% if logged_in_user %>
          <td><a href="/questions/<%=@favorited_answer.question_id%>/answers/<%=@favorited_answer.id%>/edit">Edit</a></td>
          <td><%= erb :'answers/_delete_answer', layout: false, locals: { question: @question, answer: @favorited_answer } %></td>
          <% end %>
        </tr>
      </table>
    <% end %>

    <div class="container" id="answer-list">
      <% @answers.each do |answer| %>

            <table id="answer-display">
            <tr>
              <% if !@favorited_answer %>
                <td>
                  <form method='post' action='/questions/<%= answer.question_id %>/answers/<%= answer.id %>/favorite'>
                    <input type="hidden" name="_method" value="put">
                    <input type="submit" value="favorite">
                  </form>
                </td>
              <% end %>
              <td>
                <form action="/questions/<%=answer.question_id%>/answers/<%=answer.id%>/votes/new/upvote" method="post">
                <input type="image" height="42" width="42" src="https://image.freepik.com/free-icon/thumbs-up-hand-outline_318-41813.jpg" alt="Upvote">
                </form>
              </td>
              <td>
                <form action="/questions/<%=answer.question_id%>/answers/<%=answer.id%>/votes/new/downvote" method="post">
                  <input type="image" height="42" width="42" src="https://image.freepik.com/free-icon/thumbs-down-hand-outline_318-41753.png">
                </form>
              </td>
              <td><%= Vote.vote_count(answer) %></td>
              <td><%= answer.text %></td>
              <% if logged_in? && current_user_id == answer.poster_id%>
              <td><a href="/questions/<%=answer.question_id%>/answers/<%=answer.id%>/edit">Edit</a></td>
              <td><%= erb :'answers/_delete_answer', layout: false, locals: { question: @question, answer: answer } %> </td>
              <% end %>
            </tr>
          </table>

        <article class="comments-container" id="answer-comment-list">
          <h4>Comments:</h4>


          <% answer.comments.each do |comment| %>
          <table id="answer-comments-display">
            <tr>
              <td>
                <form action="/questions/<%=answer.question_id%>/answers/<%=answer.id%>/comments/<%=comment.id%>/votes/new/upvote" method="post">
                  <input type="image" height="20" width="20" src="https://image.freepik.com/free-icon/thumbs-up-hand-outline_318-41813.jpg" alt="Upvote">
                </form>
              </td>
              <td>
                <form action="/questions/<%=answer.question_id%>/answers/<%=answer.id%>/comments/<%=comment.id%>/votes/new/downvote" method="post">
                  <input type="image" height="20" width="20" src="https://image.freepik.com/free-icon/thumbs-down-hand-outline_318-41753.png">
                </form>
              </td>
              <td><%= Vote.vote_count(comment) %></td>
              <td>
                <%= comment.text %> by <%= comment.commenter.username %>
              </td>
              <% if logged_in? %>
              <td>
                <a href="/answers/<%= answer.id %>/comments/<%= comment.id %>/edit">Edit</a>
              </td>
              <td>
                <form class="delete-answer-comment" action="/answers/<%= answer.id %>/comments/<%= comment.id %>" method="post">
                  <input type="hidden" name="_method" value="DELETE">
                  <input class="button" type="submit" value="Delete">
                </form>
              </td>
              <% end %>
            </tr>
          </table>
          <% end %>

          <% if logged_in?%>
          <%= erb :"/comments/_new_answer_comment", layout: false, locals: { answer: answer }%>
          <% end %>

        </article>
      <% end %>
    </div>
  </body>
</html>
