<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Question</title>
  </head>
  <body>
    <div class="container">

      <h3><%= @question.title %></h3>
      <tr>
            <form action="/questions/<%=@question.id%>/votes/new/upvote" method="post">
              <td><input type="image" height="42" width="42" src="https://image.freepik.com/free-icon/thumbs-up-hand-outline_318-41813.jpg" alt="Upvote"></td>
            </form>
            <form action="/questions/<%=@question.id%>/votes/new/downvote" method="post">
              <td><input type="image" height="42" width="42" src="https://image.freepik.com/free-icon/thumbs-down-hand-outline_318-41753.png"></td>
            </form>
        <td><%= Vote.vote_count(@question) %></td>
      </tr>
      <p>

        <li><%= @question.text %></li>
      </p>
    </div>

    <form method='get' action="/questions/<%=@question.id%>/answers/new">
      <input type="Submit" value="Post Your Answer">
    </form>

    <div class="container" id="answer-list">
      <table>
        <% @answers.each do |answer| %>
          <tr>
            <form action="/questions/<%=answer.question_id%>/answers/<%=answer.id%>/votes/new/upvote" method="post">
              <td><input type="image" height="42" width="42" src="https://image.freepik.com/free-icon/thumbs-up-hand-outline_318-41813.jpg" alt="Upvote"></td>
            </form>
            <form action="/questions/<%=answer.question_id%>/answers/<%=answer.id%>/votes/new/downvote" method="post">
              <td><input type="image" height="42" width="42" src="https://image.freepik.com/free-icon/thumbs-down-hand-outline_318-41753.png"></td>
            </form>
            <td><%= Vote.vote_count(answer) %></td>
            <td><%= answer.text %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </body>
</html>
